:root{
    --main-color: #2c423f;
    --secondary-color: #94a198;
    --background-color: #fbfff1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.body{
    color: var(--main-color);
    background-color: var(--background-color);
}
.vertical-center{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header-widget{
    text-align: center;
    background-color: var(--secondary-color);

    background-repeat: repeat-x;
    height: 575px;
}
.body-widget{
    text-align:left;

}
.title-text{
    font-size: 40px;
    font-weight: bold;
}
.info-text{
    font-size: 18px;
}


